
logs
*.log
npm-debug.log*
build/

# Dependency directories
node_modules/
hsbc_modules/

# Optional npm cache directory
.vscode
.idea
*.iml
.awcache
.npmrc

# Windwos recycling bin
$Recycle.Bin

# Typescript
target/

# Build (packaging)
public/

